[Desktop Entry]
Name=Install Sonar Linux (cli)
GenericName=Cli Installer
Exec=sudo mate-terminal -e /usr/bin/setup
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=System;
OnlyShowIn=Mate
Name[en_US]=Install Sonar Linux (cli)-mate
